CASE_CREATE_AUTH_URL=
CASE_CREATE_XFUN_KEY=
CASE_CREATE_API=
DDEI_HOST=
DCF_MESSAGING_API=
TWIF_MESSAGING_API=
SESSION_ID=
X_FUNCTIONS_KEY=
TRANSACTION_ID=
CASE_REVIEW_URL=
UNIT_NAME=Hull TU
CPS_USER=
PASSWORD=
AAD_USER=
AAD_PASSWORD=
DEBUG=true
ENV=dev
CASE_TYPE=twif
