DDEI_HOST=https://fa-eas-app-ddei-dev.azurewebsites.nets
DCF_MESSAGING_API=https://cmsmodcin5.cps.gov.uk
TWIF_MESSAGING_API=https://localhost:7165/api
SESSION_ID=672da61b-10d8-4588-9add-3a59311efc79
TRANSACTION_ID=c9e54a9f-bae9-47f6-9f22-6d4f616d2aab
X_FUNCTIONS_KEY=eEUPEwq4_toQDipvWwGxnC4qmIqgccX3jGomDAR8TVCZAzFuSl8YVA==
UNIT_NAME=Hull TU
CPS_USER=
PASSWORD=
DEBUG=false
ENV=dev
